
body{
	background-color: #202020;
	margin: 0;
	padding:0;
}

.all{
	width: 85%;
	background-color: #D3D3D3;
	margin: 0 auto;
	height:100%;
	overflow:hidden;
}

#all1{
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 420px;
	width: auto;
}

#all2{
	width: 380px;
	margin-top: 20px;
	margin-right: 20px;
	float: right;
}

.first{
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 30px; 
	margin-bottom: 20px;
	box-shadow: 2px 2px 2px #666;
	height:100%;
	overflow:hidden;
}

#bar{
	width: 100%;
	height: 50px;
	background-color: #333; 
	margin:0 auto;
}

.guide{
	height: 40px;
	width: 390px;
	float: right;
}

.daohang{
	float: left;
	margin-right: 20px;
}

.daohang a{
	text-decoration: none;
	color: white;
	font-size: 13px;
}

.daohang1 a{
	text-decoration: none;
	color: gray;
	font-size: 13px;
}

.title1{
	font-size: 18px;
	color: gray;
}

.title2{
	font-size: 13px;
	color: gray;
}

.para{
	text-indent:2em;
}

.li{
	list-style:none;
}

.pic{
	border: 1px solid gray;
	width: 100px;
	height: 100px;
	padding-left: 1px;
	padding-bottom: 1px;
	font-size: 11px;
	text-align: center;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}



.table{
	width: 100%;
	border-collapse: collapse;
	border-color:gray;
}

td{
	border-color: gray;
}

th{
	background-color: #333;
	color: white;
}


.tip{
	color: gray;
	font-size: 12px;
}

.td{
	text-align: right;
}

.button{
	border-radius: 12px;
	background-color: #3355D0;
	color: white;
	width: 100%;
	height: 40px;
	font-size: 15px;

}

.copy{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	margin:0;
	text-align: center;
	background: black;
	color: white;
	clear: both;
}